<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" package="com.byrobin.tapdaq" android:versionCode="::APP_BUILD_NUMBER::" android:versionName="::APP_VERSION::" android:installLocation="::ANDROID_INSTALL_LOCATION::">
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    
    <application>
        
        <activity android:name="com.tapdaq.sdk.TMTestActivity" />
        <activity android:name="com.tapdaq.sdk.TMTestNativeActivity"/>
        
        <!-- Cross Promo -->
        <activity android:name="com.tapdaq.sdk.TMInterstitialActivity"/>
        <activity android:name="com.tapdaq.sdk.TMVideoInterstitialActivity"/>
        
        <!-- More Apps -->
        <activity android:name="com.tapdaq.sdk.TMMoreAppsActivity"/>
    </application>

 
</manifest>
